@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 400;
	src: url("https://rsms.me/inter/font-files/Inter-UI-Regular.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-Regular.woff?v=3.1") format("woff");
}
/* @font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 400;
	src: url("https://rsms.me/inter/font-files/Inter-UI-Italic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-Italic.woff?v=3.1") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 500;
	src: url("https://rsms.me/inter/font-files/Inter-UI-Medium.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-Medium.woff?v=3.1") format("woff");
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 500;
	src: url("https://rsms.me/inter/font-files/Inter-UI-MediumItalic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-MediumItalic.woff?v=3.1") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 600;
	src: url("https://rsms.me/inter/font-files/Inter-UI-SemiBold.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-SemiBold.woff?v=3.1") format("woff");
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 600;
	src: url("https://rsms.me/inter/font-files/Inter-UI-SemiBoldItalic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-SemiBoldItalic.woff?v=3.1") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 700;
	src: url("https://rsms.me/inter/font-files/Inter-UI-Bold.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-Bold.woff?v=3.1") format("woff");
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 700;
	src: url("https://rsms.me/inter/font-files/Inter-UI-BoldItalic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-BoldItalic.woff?v=3.1") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 800;
	src: url("https://rsms.me/inter/font-files/Inter-UI-ExtraBold.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-ExtraBold.woff?v=3.1") format("woff");
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 800;
	src: url("https://rsms.me/inter/font-files/Inter-UI-ExtraBoldItalic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-ExtraBoldItalic.woff?v=3.1") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 900;
	src: url("https://rsms.me/inter/font-files/Inter-UI-Black.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-Black.woff?v=3.1") format("woff");
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 900;
	src: url("https://rsms.me/inter/font-files/Inter-UI-BlackItalic.woff2?v=3.1") format("woff2"),
			 url("https://rsms.me/inter/font-files/Inter-UI-BlackItalic.woff?v=3.1") format("woff");
} */


body {
	font-family: "Inter UI", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #16191C;
	color: white;
	-webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 0, 'tnum' 1, 'onum' 0, 'lnum' 1, 'dlig' 1, 'zero' 1, 'ss01' 1, 'ss02' 1, 'case' 1;
}
